# PDF To CSV By Using Pandas

In [1]:
# Importing Libriaries
import pdfplumber
import pandas as pd

In [2]:
# Reading pdf
pdf = pdfplumber.open(r"D:\Data sets\APEAMCET-2022\APEAPCET_2022_Cutoff.pdf")

In [3]:
# pdf pages size 
size = len(pdf.pages)
size

60

In [4]:
# All Records in pdf have same header so I'm using 
# 1st page data to make header
page0 = pdf.pages[0]
# Extracting Tables from page
table = page0.extract_table()
len(table)

28

In [5]:
# Checking Data weather correct not by looking some records I used 3 rows
print(table[:3])

[['SNO', 'inst_code', 'inst_name', 'type', 'INST\n_RE\nG.', 'DIST', 'PLACE', 'COED', 'AFFLIA\n.UNIV', 'ESTD', 'branch_\ncode', 'Local_Ar\nea', 'OC_BO\nYS', 'OC_GIR\nLS', 'SC_BO\nYS', 'SC_GIR\nLS', 'ST_BOY\nS', 'ST_GIR\nLS', 'BCA_B\nOYS', 'BCA_GI\nRLS', 'BCB_B\nOYS', 'BCB_GI\nRLS', 'BCC_B\nOYS', 'BCC_GI\nRLS', 'BCD_B\nOYS', 'BCD_GI\nRLS', 'BCE_B\nOYS', 'BCE_GI\nRLS', 'OC_EWS_B\nOYS', 'OC_EWS_GI\nRLS', 'COLLFEE'], ['1', 'ACEE', 'ADARSH COLLEGE OF ENGINEERING', 'PVT', 'AU', 'EG', 'GOLLAPROLU', 'COED', 'JNTUK', '2008', 'CIV', '', '143031', '143031', '170697', '170697', '143031', '143031', '143031', '143031', '143031', '143031', '143031', '143031', '143031', '143031', '143031', '143031', '158522', '', '35000'], ['2', 'ACEE', 'ADARSH COLLEGE OF ENGINEERING', 'PVT', 'AU', 'EG', 'GOLLAPROLU', 'COED', 'JNTUK', '2008', 'CSE', '', '132938', '132938', '170635', '170635', '173467', '173467', '153425', '167840', '167292', '169169', '132938', '139146', '134908', '157283', '144114', '144114', '149718', '120842', '35000']]

In [6]:
# Here Table is nothing but Multi Dimensional Array 
# So use Indexes for fetching columns Everypage has header so we will add that header to data frame only once
df = pd.DataFrame(columns = table[0])

In [7]:
# Main dataframe i.e, header  
df

Empty DataFrame
Columns: [SNO, inst_code, inst_name, type, INST
_RE
G., DIST, PLACE, COED, AFFLIA
.UNIV, ESTD, branch_
code, Local_Ar
ea, OC_BO
YS, OC_GIR
LS, SC_BO
YS, SC_GIR
LS, ST_BOY
S, ST_GIR
LS, BCA_B
OYS, BCA_GI
RLS, BCB_B
OYS, BCB_GI
RLS, BCC_B
OYS, BCC_GI
RLS, BCD_B
OYS, BCD_GI
RLS, BCE_B
OYS, BCE_GI
RLS, OC_EWS_B
OYS, OC_EWS_GI
RLS, COLLFEE]
Index: []

[0 rows x 31 columns]

In [8]:
# Each page data expect header this is each_page_data
# We are specifying colums are headers (extracted in above cell)
each_page_data = pd.DataFrame(table[1:], columns=df.columns)
each_page_data

,SNO,inst_code,inst_name,type,INST\n_RE\nG.,DIST,PLACE,COED,AFFLIA\n.UNIV,ESTD,...,BCB_GI\nRLS,BCC_B\nOYS,BCC_GI\nRLS,BCD_B\nOYS,BCD_GI\nRLS,BCE_B\nOYS,BCE_GI\nRLS,OC_EWS_B\nOYS,OC_EWS_GI\nRLS,COLLFEE
0,1,ACEE,ADARSH COLLEGE OF ENGINEERING,PVT,AU,EG,GOLLAPROLU,COED,JNTUK,2008,...,143031,143031,143031,143031,143031,143031,143031,158522,,35000
1,2,ACEE,ADARSH COLLEGE OF ENGINEERING,PVT,AU,EG,GOLLAPROLU,COED,JNTUK,2008,...,169169,132938,139146,134908,157283,144114,144114,149718,120842,35000
2,3,ACEE,ADARSH COLLEGE OF ENGINEERING,PVT,AU,EG,GOLLAPROLU,COED,JNTUK,2008,...,163503,114459,114459,114459,146246,114459,114459,128288,,35000
3,4,ACEE,ADARSH COLLEGE OF ENGINEERING,PVT,AU,EG,GOLLAPROLU,COED,JNTUK,2008,...,169169,,,169142,169163,169163,169163,,,35000
4,5,ACEE,ADARSH COLLEGE OF ENGINEERING,PVT,AU,EG,GOLLAPROLU,COED,JNTUK,2008,...,169169,,169131,169142,169142,169163,169163,,,35000
5,6,ACES,ADITYA COLLEGE OF ENGINEERING,PVT,AU,EG,PEDDAPURAM,COED,JNTUK,2008,...,123948,81311,119201,81311,119201,81311,119201,,109659,38000
6,7,ACES,ADITYA COLLEGE OF ENGINEERING,PVT,AU,EG,PEDDAPURAM,COED,JNTUK,2008,...,68512,31900,31900,42295,61136,147695,147695,34137,26445,38000
7,8,ACES,ADITYA COLLEGE OF ENGINEERING,PVT,AU,EG,PEDDAPURAM,COED,JNTUK,2008,...,76716,44767,52880,52754,57239,132995,142219,47332,50848,38000
8,9,ACES,ADITYA COLLEGE OF ENGINEERING,PVT,AU,EG,PEDDAPURAM,COED,JNTUK,2008,...,82112,53492,54061,68283,68283,71051,112254,54950,57293,38000
9,10,ACES,ADITYA COLLEGE OF ENGINEERING,PVT,AU,EG,PEDDAPURAM,COED,JNTUK,2008,...,76754,124636,124636,78103,87646,126627,126627,60472,60156,38000
10,11,ACES,ADITYA COLLEGE OF ENGINEERING,PVT,AU,EG,PEDDAPURAM,COED,JNTUK,2008,...,121833,86786,86845,138352,138352,86786,117319,86487,,38000
11,12,ACES,ADITYA COLLEGE OF ENGINEERING,PVT,AU,EG,PEDDAPURAM,COED,JNTUK,2008,...,169169,,169131,169131,169131,169131,169131,123425,102256,38000
12,13,ACET,ADITYA COLLEGE OF ENGINEERING\nAND TECHNOLOGY,PVT,AU,EG,PEDDAPURAM,COED,JNTUK,2004,...,169074,135022,135022,158309,158309,149020,149020,140587,152251,37000
13,14,ACET,ADITYA COLLEGE OF ENGINEERING\nAND TECHNOLOGY,PVT,AU,EG,PEDDAPURAM,COED,JNTUK,2004,...,62480,32732,50070,50728,50728,102898,110022,31344,31314,37000
14,15,ACET,ADITYA COLLEGE OF ENGINEERING\nAND TECHNOLOGY,PVT,AU,EG,PEDDAPURAM,COED,JNTUK,2004,...,57612,29999,29999,39393,41500,87476,87476,22131,33068,37000
15,16,ACET,ADITYA COLLEGE OF ENGINEERING\nAND TECHNOLOGY,PVT,AU,EG,PEDDAPURAM,COED,JNTUK,2004,...,62261,67951,67951,46531,47678,118292,127276,35523,34809,37000
16,17,ACET,ADITYA COLLEGE OF ENGINEERING\nAND TECHNOLOGY,PVT,AU,EG,PEDDAPURAM,COED,JNTUK,2004,...,64467,51073,51073,53901,60809,89808,160708,48449,45562,37000
17,18,ACET,ADITYA COLLEGE OF ENGINEERING\nAND TECHNOLOGY,PVT,AU,EG,PEDDAPURAM,COED,JNTUK,2004,...,107053,83253,97730,91256,91256,162817,162817,84595,84038,37000
18,19,ACET,ADITYA COLLEGE OF ENGINEERING\nAND TECHNOLOGY,PVT,AU,EG,PEDDAPURAM,COED,JNTUK,2004,...,53032,39386,39386,39375,55208,58778,70795,24003,29669,37000
19,20,ACET,ADITYA COLLEGE OF ENGINEERING\nAND TECHNOLOGY,PVT,AU,EG,PEDDAPURAM,COED,JNTUK,2004,...,161702,143235,143235,163878,163878,143235,143235,142273,107682,37000
20,21,ACPS,ADITYA COLLEGE OF PHARMACY,PVT,AU,EG,PEDDAPURAM,COED,JNTUK,2006,...,158505,129723,158505,129723,158505,129723,158505,,,56600
21,22,ACPS,ADITYA COLLEGE OF PHARMACY,PVT,AU,EG,PEDDAPURAM,COED,JNTUK,2006,...,169169,,169131,169142,169142,169163,169163,,,45000
22,23,ADCP,ADARSHA COLL OF PHARMACY,PVT,AU,EG,G.KOTHAPALLI,COED,JNTUK,2008,...,169623,57013,169623,57013,169623,57013,169623,,,35000
23,24,ADTP,ADITYA ENGINEERING COLLEGE,PVT,AU,EG,PEDDAPURAM,COED,JNTUK,2001,...,140598,115578,140598,115578,140598,115578,140598,149181,99698,51100
24,25,ADTP,ADITYA ENGINEERING COLLEGE,PVT,AU,EG,PEDDAPURAM,COED,JNTUK,2001,...,48414,27923,53556,35698,43262,93408,93408,25225,24682,51100
25,26,ADTP,ADITYA ENGINEERING COLLEGE,PVT,AU,EG,PEDDAPURAM,COED,JNTUK,2001,...,151536,77581,109902,91180,109902,158732,158732,111796,88226,51100
26,27,ADTP,ADITYA ENGINEERING COLLEGE,PVT,AU,EG,PEDDAPURAM,COED,JNTUK,2001,...,36570,80854,80854,20601,23059,20564,20564,18694,17254,51100

In [9]:
# 1st Page Statistics
each_page_data.describe()

,SNO,inst_code,inst_name,type,INST\n_RE\nG.,DIST,PLACE,COED,AFFLIA\n.UNIV,ESTD,...,BCB_GI\nRLS,BCC_B\nOYS,BCC_GI\nRLS,BCD_B\nOYS,BCD_GI\nRLS,BCE_B\nOYS,BCE_GI\nRLS,OC_EWS_B\nOYS,OC_EWS_GI\nRLS,COLLFEE
count,27,27,27,27,27,27,27,27,27,27,...,27,27,27,27,27,27,27,27,27,27
unique,27,6,6,1,1,1,3,1,1,4,...,23,24,25,25,26,25,25,22,20,6
top,1,ACET,ADITYA COLLEGE OF ENGINEERING\nAND TECHNOLOGY,PVT,AU,EG,PEDDAPURAM,COED,JNTUK,2008,...,169169,,169131,169142,169142,169163,169163,,,37000
freq,1,8,8,27,27,27,21,27,27,13,...,5,4,3,3,2,3,3,6,8,8

In [10]:
# Data types
df.dtypes

SNO               object
inst_code         object
inst_name         object
type              object
INST\n_RE\nG.     object
DIST              object
PLACE             object
COED              object
AFFLIA\n.UNIV     object
ESTD              object
branch_\ncode     object
Local_Ar\nea      object
OC_BO\nYS         object
OC_GIR\nLS        object
SC_BO\nYS         object
SC_GIR\nLS        object
ST_BOY\nS         object
ST_GIR\nLS        object
BCA_B\nOYS        object
BCA_GI\nRLS       object
BCB_B\nOYS        object
BCB_GI\nRLS       object
BCC_B\nOYS        object
BCC_GI\nRLS       object
BCD_B\nOYS        object
BCD_GI\nRLS       object
BCE_B\nOYS        object
BCE_GI\nRLS       object
OC_EWS_B\nOYS     object
OC_EWS_GI\nRLS    object
COLLFEE           object
dtype: object


## Main task
- **We need Each Record in Each Table of Each Page** 
- **So Do Traversing through each page,each table,each record**
- **We already have header in df so don't need header here**
### Note: 
    - **We need to append each page to data main df so I used concat method (append is depriciated)**
    - **we need to give exisiting df then new df which is going to append to exisiting df**

In [11]:
# Traverse throgh each page
for i in range(size):
    # storing each page data 
    page = pdf.pages[i]
    # Extracting tabular form data from page 
    table = page.extract_table()
    # storing as dataframe from every table from 1 index (header is already ther)
    each_page_data = pd.DataFrame(table[1:], columns=df.columns)     
    # Adding each df to main df by using concat (Eg :sum of numbers in array)
    df = pd.concat([df, each_page_data], ignore_index=True)

In [12]:
print(df.shape)

(1496, 31)

In [16]:
df.head(5)

,SNO,inst_code,inst_name,type,INST\n_RE\nG.,DIST,PLACE,COED,AFFLIA\n.UNIV,ESTD,...,BCB_GI\nRLS,BCC_B\nOYS,BCC_GI\nRLS,BCD_B\nOYS,BCD_GI\nRLS,BCE_B\nOYS,BCE_GI\nRLS,OC_EWS_B\nOYS,OC_EWS_GI\nRLS,COLLFEE
0,1,ACEE,ADARSH COLLEGE OF ENGINEERING,PVT,AU,EG,GOLLAPROLU,COED,JNTUK,2008,...,143031,143031,143031,143031,143031,143031,143031,158522,,35000
1,2,ACEE,ADARSH COLLEGE OF ENGINEERING,PVT,AU,EG,GOLLAPROLU,COED,JNTUK,2008,...,169169,132938,139146,134908,157283,144114,144114,149718,120842,35000
2,3,ACEE,ADARSH COLLEGE OF ENGINEERING,PVT,AU,EG,GOLLAPROLU,COED,JNTUK,2008,...,163503,114459,114459,114459,146246,114459,114459,128288,,35000
3,4,ACEE,ADARSH COLLEGE OF ENGINEERING,PVT,AU,EG,GOLLAPROLU,COED,JNTUK,2008,...,169169,,,169142,169163,169163,169163,,,35000
4,5,ACEE,ADARSH COLLEGE OF ENGINEERING,PVT,AU,EG,GOLLAPROLU,COED,JNTUK,2008,...,169169,,169131,169142,169142,169163,169163,,,35000

In [14]:
df.tail(5)

,SNO,inst_code,inst_name,type,INST\n_RE\nG.,DIST,PLACE,COED,AFFLIA\n.UNIV,ESTD,...,BCB_GI\nRLS,BCC_B\nOYS,BCC_GI\nRLS,BCD_B\nOYS,BCD_GI\nRLS,BCE_B\nOYS,BCE_GI\nRLS,OC_EWS_B\nOYS,OC_EWS_GI\nRLS,COLLFEE
1491,91,CENUPU,CENTURION UNIVERSITY OF\nTECHNOLOGY & MANAGEMENT,PU,SW,VZM,TEKKALI,COED,CENUPU,2005,...,94371,,65866,57037,57037,,65866,NA,NA,50000
1492,92,CENUPU,CENTURION UNIVERSITY OF\nTECHNOLOGY & MANAGEMENT,PU,SW,VZM,TEKKALI,COED,CENUPU,2005,...,99288,,,104691,104691,,,NA,NA,50000
1493,93,CENUPU,CENTURION UNIVERSITY OF\nTECHNOLOGY & MANAGEMENT,PU,SW,VZM,TEKKALI,COED,CENUPU,2005,...,147303,,,,138070,,147625,NA,NA,50000
1494,94,CENUPU,CENTURION UNIVERSITY OF\nTECHNOLOGY & MANAGEMENT,PU,SW,VZM,TEKKALI,COED,CENUPU,2005,...,167490,70151,70151,140782,140782,70151,70151,NA,NA,50000
1495,95,CENUPU,CENTURION UNIVERSITY OF\nTECHNOLOGY & MANAGEMENT,PU,SW,VZM,TEKKALI,COED,CENUPU,2005,...,,,,,,,,NA,NA,50000

In [15]:
# Exporting to csv by specifying file path and we don't want any index 
# df.to_csv(r'D:\Data sets\APEAPCET_2022_Cutoff.csv',index = False)